html {
  scroll-behavior: smooth;
}
video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-attachment: fixed;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.telon {
  background-color: rgba(0, 0, 0, 0.2);
}

.artist1 {
  background-image: url('https://images.pexels.com/photos/2246741/pexels-photo-2246741.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.artist2 {
  background-image: url('https://images.pexels.com/photos/3657562/pexels-photo-3657562.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  object-fit: contain;
}
.artist3 {
  background-image: url('https://images.pexels.com/photos/7005675/pexels-photo-7005675.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  object-fit: fill;
}
.artist4 {
  background-image: url('https://images.pexels.com/photos/7005732/pexels-photo-7005732.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  object-fit: unset;
}
